# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
v3_SSS_Air_Press_Temp_TsPlot.pdf
v3_SSS_Water_Temp_SpC_Turb_pH_ChlA_TsPlot.pdf
v3_SSS_Water_DO_Temp_TsPlot.pdf
v3_SSS_MC_Water_DO_Temp_TsPlot.pdf
Figure6_Cluster_Map.pdf
CB_catchments_clean_joined.shp
/Published_Data/v2_SSS_Ecosystem_Respiration_Data_Package
/Published_Data/v3_SSS_Data_Package
/Published_Data/v5_CM_SSS_Data_Package
